* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2ea4ad;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 500px;
  width: max-content;
}

section {
  padding: 20px;
  width: 100%;
  max-width: 460px;
}

h1,
h2 {
  color: #f1c067;
  padding-bottom: 10px;
}

.highlight {
  font-weight: bold;
  color: #f1c067;
}

.orange {
  color: #da682f;
}

.links {
  display: flex;
  justify-content: space-evenly;
}
